{% extends 'base.html' %}

{% block content %}
<div class="container-lg" style="margin-top: 3%; ">
    <div style="text-align: center; display: flex; justify-content: center; flex-direction: column;">
        <h3>회원 가입 신청화면</h3>
        <!-- 이메일-->
        <div class="form-floating mb-3" style="display: flex;">
            <input type="email" class="form-control" style="font-size:14px; height:5%; width:70%; margin-right: 30px;"
                id="input_email" placeholder="name@example.com">
            <label for="input_email" style="font-size: 14px; padding:4px 10px">Email address</label>
            <button type="button" id="duplicate_check_button" class="btn btn-primary btn-sm" style="height:50px">중복
                검사</button>
        </div>
        <!-- 비밀번호, 비밀번호 확인-->
        <div class="form-floating mb-3">
            <input type="password" class="form-control" style="font-size:14px; height:5%; width:70% "
                id="input_password1" placeholder="********">
            <label for="input_password1" style="font-size: 14px; padding:4px 10px">비밀번호</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" style="font-size:14px; height:5%; width:70% "
                id="input_password2" placeholder="********">
            <label for="input_password2" style="font-size: 14px; padding:4px 10px">비밀번호 확인</label>
        </div>
        <!-- 이름-->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" style="font-size:14px; height:5%; width:70% " id="input_name"
                placeholder="홍길동">
            <label for="input_name" style="font-size: 14px; padding:4px 10px">이름</label>
        </div>
        <!-- 신청하기-->
        <button type="button" id="register_button" class="btn btn-primary" style="width:10%">신청하기</button>
    </div>
</div>

<script>
    let email_check = 0
    document.getElementById('duplicate_check_button').addEventListener('click', function () {
        let email = document.getElementById('input_email').value;
        console.log("눌러지;나")

        // 이메일 중복 검사를 수행하는 fetch 요청
        fetch('/user/check_email_duplicate/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: email
            })

        }).then(function (response) {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Network response was not ok')
            }
        }).then(function (data) {
            console.log(data)
            if (data.email_exists) {
                alert('이미 사용 중인 이메일입니다.');
            } else {
                alert('사용 가능한 이메일입니다.')
                email_check = 1
            }
        }).catch(function (error) {
            console.log('에러:', error);
        });
    })


    document.getElementById('register_button').addEventListener('click', function () {
        let email = document.getElementById('input_email').value;
        let password1 = document.getElementById('input_password1').value;
        let password2 = document.getElementById('input_password2').value;
        let name = document.getElementById('input_name').value;


        if (email_check == 0) {
            alert('이메일 중복확인을 해주세요')
        }
        fetch("/user/register/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    email: email,
                    password1: password1,
                    password2: password2,
                    name: name,
                })
            }).then(function (response) {

                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .then(function (data) {
                if (data.password_error_message) {
                    alert(data.password_error_message)
                }
            })
            .catch(function (error) {
                console.log("error");
            })
            .finally(function () {
                console.log("완료");
                location.replace('/user/login')


            });
    })
</script>

{% endblock %}